.App {
  text-align: center;
}

  .participantList__participants {
    display: flex;
    flex-direction: column;
  }

  .participantList__participant {
    margin: 2px;
    padding: 2px;
  }

  .content{
    width: 80%;
    margin: 0 auto;

  }

form {

  max-width: 600px; 
  display: block; 
  margin: 0 auto; 
  &>* {
    margin: 0.5em 0; 
  }
  input, button {
    padding: 0.5em;
  }
}
