.App {
  text-align: center;
}

body {
  background-color: #e0e0e0;
}

.participantList__participants {
  display: flex;
  flex-direction: column;
}

.participantList__participant {
  margin: 2px;
  padding: 2px;
}

.content {
  background-color: #FFFFFF;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 2em;
}

form {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  &>* {
    margin: 0.5em 0;
  }
  input, button {
    padding: 0.5em;
  }
}
